<!-- Side nav -->
<div class="sidenav">
  <a routerLink="/summary">
    <img class="icon" title="SUMMARY" src="../assets/images/summary.png">
  </a>
  <a routerLink="/reports">
    <img class="icon" title="REPORTS" src="../assets/images/reports.png">
  </a>
  <a routerLink="/savings">
    <img class="icon" title="SAVINGS" src="../assets/images/savings.png">
  </a>
  <a routerLink="/">
    <img class="icon" title="LOGOUT" src="../assets/images/logout.png">
  </a>
</div>

<router-outlet></router-outlet>

<script src="../assets/js/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
