.main {
  height: 100vh;
  color: #fff;
  background-color: #00f;
}

.title {
  margin: 10px 30px 10px 0px;
  font-size: 30px;
}

.subtitle {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.subtitle:focus,
.subtitle:hover {
  color: #ff0;
  text-decoration: none;
}

.sidenav {
  height: 100%;
  /* Full-height: remove this if you want "auto" height */
  /* width: 160px; */
  /* Set the width of the sidebar */
  position: fixed;
  /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: #dae2e7;
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 20px;
}

.icon {
  width: 90px;
  margin: 20px 5px;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 5px;
}
