<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <span class="title">Reports
    <span class="arrow"> &#x27A0;</span>
  </span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
    aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/reports">Spendings<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/reports/incomes">Incomes</a>
      </li>
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>

<div class="container-fluid">

  <div class="row">
    <div class="col-12">
      <table class="table table-warning table-striped mt-3 table-fixed">
        <thead>
          <tr>
            <th>ID</th>
            <th>Registration Date</th>
            <th>Date of Payment</th>
            <th>Amount</th>
            <th>Description</th>
            <th>Category</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of allData">
            <td>{{item.ID}}</td>
            <td>{{item.RegistrationDate}}</td>
            <td>{{item.DateOfPayment}}</td>
            <td>{{item.Amount}}</td>
            <td>{{item.Description}}</td>
            <td>{{item.Category}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
